/* UNIVERSAL STYLES */
html {
	font-family: "Verdana", "Arial", sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
    text-align: center;
}

.download-link {
    font-size: 1rem;
    color: aquamarine; 
}

/* HEADER */
header h1 {
    font-size: 3.125rem;
    font-weight: normal;
    color: white;
}

/* ABOUT SECTION */
.about-section h1 {
    font-weight: 300;
    font-size: 2.625rem;
}

.about-section p {
    font-size: 1.3125rem;
    color: grey;
}

/* COMING SECTION */
.coming-section h1 {
    font-weight: 300;
    font-size: 2.625rem;
}

/* FOOTER */
footer {
    text-align: right;
    color: grey;
}

